/*! SVG Türkiye Haritası | CSS | MIT Lisans | dnomak.com */

.svg-turkiye-haritasi {
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: -35px;
  text-align: center;
  
}
.svg-turkiye-haritasi svg {
  height: 70vh;
    max-height: 80vh;
    width: 100%;
  }
  .il-isimleri {
    position: absolute;
    z-index: 2;
  }
  .il-isimleri div {
    font-family: 'Open Sans';
    display: inline-block;
    background: #df0c0c;
    color: #fff;
    padding: 8px 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  #svg-turkiye-haritasi path {
    cursor: pointer;
    fill: #222;
    transition: fill 1s;
  }
  #svg-turkiye-haritasi path:hover {
    fill: #f62b10;
  }
  #guney-kibris {
    pointer-events: none;
  }